{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="hero user-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container">
		<div class="row ipad-width">
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="form-style-1 user-pro" action="#">
                    <div class="row">
                        <div class="col-md-6 form-it">
                               <label>Status:</label>
                               <p>Your Password changed Successfully.You can login with new Password.</p>
                        </div>
                    </div> 
                </div>
            </div>
		</div>
	</div>
</div>
{% endblock %}