{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="hero user-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>{{ user.first_name }}&nbsp;{{ user.last_name }}'s profile</h1>
					<ul class="breadcumb">
						<li class="active"><a href="#">Account</a></li>
						<li> <span class="ion-ios-arrow-right"></span>Favorites</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-3 col-sm-12 col-xs-12">
				<div class="user-information">
					<div class="user-img">
                        {% if user.profile.profile_picture %}
                        <a href="{% url 'account:change_profile_picture' %}">
                            <svg class="profile-picture" viewBox="0 0 100 100">
                                <mask id="circle-mask">
                                    <circle cx="50" cy="50" r="50" fill="white"/>
                                </mask>
                                <image xlink:href="{{ user.profile.profile_picture.url }}" x="0" y="0" width="100" height="100" mask="url(#circle-mask)"/>
                            </svg>
                        </a>
                        <br>
                        <br>
                        <a href="{% url 'account:change_profile_picture' %}" class="redbtn">My Avatar</a>
                        {% else %}
                            {% if user.profile.profile_picture is defined %}
                                <a href="{% url 'account:change_profile_picture' %}"><img src="{{ user.profile.profile_picture.url }}" alt=""></a>
                            {% else %}
                                <a href="{% url 'account:change_profile_picture' %}"><img src="{% static 'images/uploads/user-img.png' %}" alt=""></a>
                            {% endif %}
                            <br>
                            <a href="{% url 'account:change_profile_picture' %}" class="redbtn">Set an Avatar</a>
                        {% endif %}
					</div>
					<div class="user-fav">
						<p>Account Details</p>
						<ul>
							<li><a href="{% url 'account:profile' %}">Profile</a></li>
                            <li><a href="{% url 'account:change_profile_picture' %}"">Avatar</a></li>
							<li class="active"><a href="{% url 'account:favorite_movies' %}">Favorites</a></li>
						</ul>
					</div>
					<div class="user-fav">
						<p>Others</p>
						<ul>
							<li><a href="{% url 'account:change_password' %}">Change password</a></li>
							<li><a href="{% url 'account:logout' %}">Logout</a></li>
						</ul>
					</div>
				</div>
			</div>
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="topbar-filter user">
                    <p>Found <span>{{favorite_movies.count}}</span> in total</p>
                    <label>Sort by:</label>
                    <select>
                        <option value="range">Movies</option>
                        <option value="saab">Series and TVShows</option>
                    </select>
                    <a href="{% url 'account:favorite_series' %}" class="grid"><i class="ion-grid active"></i></a>
                </div>
                
                <div class="flex-wrap-movielist grid-fav">
                    {% for favorite_serie in favorite_series %}
                    <div class="movie-item-style-2 movie-item-style-1 style-3">
                        <img src="{{ favorite_serie.tvshow.image.url }}" alt="">
                        <div class="hvr-inner">
                            <a href="{{ favorite_serie.tvshow.get_absolute_url }}">Read more <i class="ion-android-arrow-dropright"></i></a>
                        </div>
                        <div class="mv-item-infor">
                            <h6><a href="{{ favorite_serie.tvshow.get_absolute_url }}">{{ favorite_serie.tvshow.title }}</a></h6>
                            <p class="rate">
                                <i class="ion-android-star"></i>
                                <span>{{ favorite_serie.tvshow.rating }}</span>  
                            </p>
                            <p>
                                <i style="color: red;">❌</i>
                                <span>
                                    <a href="{% url 'account:delete_favorite_serie' tvshow_id=favorite_serie.id %}"style="color: rgb(233, 104, 104);">&nbsp;Remove</a>
                                </span>    
                            </p>                          
                        </div>
                    </div>                    
                    {% endfor %}
                </div>
				<div class="topbar-filter">
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}