{% load static %}

<!--signup form popup-->
<div class="login-wrapper"  id="signup-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>sign up</h3>
        <form method="post" action="{% url 'account:signup' %}">
            {% csrf_token %}
            <div class="row">
                 <label for="username-2">
                    Username:
                    <input type="text" name="username" id="username-2" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />
                </label>
            </div>
           
            <div class="row">
                <label for="email-2">
                    your email:
                    <input type="text" name="email" id="email-2" required="required" />
                </label>
            </div>
             <div class="row">
                <label for="password-2">
                    Password:
                    <input type="password" name="password1" id="password-2" required="required" />
                </label>
            </div>
             <div class="row">
                <label for="repassword-2">
                    re-type Password:
                    <input type="password" name="password2" id="repassword-2"  required="required" />
                </label>
            </div>
           <div class="row">
             <button type="submit">sign up</button>
           </div>
        </form>
    </div>
</div>
<!--end of signup form popup-->

<!--login form popup-->
<div class="login-wrapper" id="login-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>Login</h3>
        <form method="post" action="{% url 'account:login' %}">
            {% csrf_token %}
        	<div class="row">
        		 <label for="username">
                    Username:
                    <input type="text" name="username" id="username" required="required" />
                </label>
        	</div>
           
            <div class="row">
            	<label for="password">
                    Password:
                    <input type="password" name="password" id="password"  required="required" />
                </label>
            </div>
            <div class="row">
            	<div class="remember">
					<div>
						<input type="checkbox" name="remember" value="Remember me"><span>Remember me</span>
					</div>
            		<a href="{% url 'account:reset_password' %}">Forget password ?</a>
            	</div>
            </div>
           <div class="row">
           	 <button type="submit">Login</button>
           </div>
        </form>
        <div class="row">
        	<p>Or via social</p>
            <div class="social-btn-2">
            	<a class="fb" href="#"><i class="ion-social-facebook"></i>Facebook</a>
            	<a class="tw" href="#"><i class="ion-social-twitter"></i>twitter</a>
            </div>
        </div>
    </div>
</div>
<!--end of login form popup-->


<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">Toggle navigation</span>
					    <div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
				    </div>
				    <a href="{% url 'blog:home' %}"><img class="logo" src="{% static 'images/logo1.png' %}" alt="" width="119" height="58"></a>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li><a href="{% url 'blog:home' %}">Home</a></li>
						<li><a href="{% url 'cinema:movies_list' %}">Movies</a></li>
						<li><a href="{% url 'television:series_list' %}">TV SHows</a></li>
						<li><a href="{% url 'people:celeb_list' %}">Celebs</a></li>
						<li><a href="{% url 'blog:blog_list' %}">News</a></li>
						<li><a href="{% url 'blog:about' %}">About Us</a></li>  
					</ul>
					<ul class="nav navbar-nav flex-child-menu menu-right">           
						<li><a href="{% url 'admin:index' %}">Admin</a></li>
                        {% if request.user.is_authenticated %}
                            <li><a href="{% url 'account:logout' %}">Logout</a></li>
                            <li class="btn"  ><a  href="{% url 'account:profile' %}">{{user.username}}</a></li>
                        {% else%}
    						<li class="loginLink"><a href="#">LOG In</a></li>
    						<li class="btn signupLink"><a href="#">sign up</a></li>
                        {% endif %}    
					</ul>
				</div>
			<!-- /.navbar-collapse -->
	    </nav>
	    
	    <!-- top search form -->
			<form class="top-search" method="POST" action="{% url 'cinema:search_results' %}">
				{% csrf_token %}
				<input class="form-control me-2" type="search" placeholder="Search for a movie, TV Show or celebrity that you are looking for ... " aria-label="Search" name="searched">
			</form>
            <br>
            {% include 'inc/messages.html' %}
	</div>
</header>
<!-- END | Header -->